In [1]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [2]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()
unique_te

NameError: name 'unique_te' is not defined

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [ ]:
# code here
#df[df['Team']=='Qatar']['On Target'].sum()/df[df['Team']=='Qatar']['Total Attempts'].sum()
import numpy as np
unique_teams = df['Team'].unique()
result={}
for team in unique_teams:
    result[team]=np.round((df[df['Team']==team]['On Target'].sum()/df[df['Team']==team]['Total Attempts'].sum())*100,2)

sorted_dict_by_value = dict(sorted(result.items(), key=lambda item: item[1],reverse=True))
print("sorted_dict_by_value\n",sorted_dict_by_value)

sorted_dict_by_value
 {'Costa Rica': 54.55, 'Cameroon': 51.85, 'Ecuador': 48.15, 'Argentina': 46.15, 'Brazil': 45.56, 'England': 45.0, 'Portugal': 40.32, 'Ghana': 40.0, 'Netherlands': 39.02, 'Korea Republic': 36.73, 'Australia': 36.0, 'Mexico': 34.88, 'France': 34.65, 'Germany': 34.33, 'Croatia': 33.73, 'Spain': 32.69, 'Belgium': 32.35, 'Serbia': 32.26, 'Iran': 31.43, 'Uruguay': 31.25, 'United States': 31.11, 'Saudi Arabia': 31.03, 'Senegal': 30.77, 'Denmark': 30.56, 'Switzerland': 30.56, 'Japan': 30.23, 'Wales': 29.17, 'Qatar': 28.57, 'Morocco': 28.33, 'Tunisia': 26.67, 'Poland': 25.0, 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [ ]:
df['Team'].value_counts().rank(method='first',ascending=False)

Team
Morocco            1.0
Croatia            2.0
Argentina          3.0
France             4.0
England            5.0
Brazil             6.0
Netherlands        7.0
Portugal           8.0
Poland             9.0
Japan             10.0
Switzerland       11.0
Australia         12.0
Korea Republic    13.0
United States     14.0
Senegal           15.0
Spain             16.0
Cameroon          17.0
Uruguay           18.0
Belgium           19.0
Ghana             20.0
Canada            21.0
Qatar             22.0
Costa Rica        23.0
Germany           24.0
Ecuador           25.0
Mexico            26.0
Tunisia           27.0
Denmark           28.0
Saudi Arabia      29.0
Wales             30.0
Iran              31.0
Serbia            32.0
Name: count, dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [ ]:
# code here
#print(df.info())
#print(df.describe())
nan_cols=[]
for cols in df.columns:
    if df[cols].hasnans:
        nan_cols.append(cols)
print(nan_cols)
df.drop_duplicates(inplace=True)
df.head(1)
df.drop(columns=["Sl. No","Match No.","Red Cards","Pts"],inplace=True)

[]

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [ ]:
# code here
df['Rank'] = df['Team'].rank(method='first',ascending=False)
print(df['Rank'].info())
df['Rank']=df['Rank'].astype('int16')
print(df['Rank'].info())
df.set_index('Rank',inplace=True)
df.sort_index()

<class 'pandas.core.series.Series'>
RangeIndex: 128 entries, 0 to 127
Series name: Rank
Non-Null Count  Dtype
--------------  -----
128 non-null    float64
dtypes: float64(1)
memory usage: 1.1 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 128 entries, 0 to 127
Series name: Rank
Non-Null Count  Dtype
--------------  -----
128 non-null    int16
dtypes: int16(1)
memory usage: 388.0 bytes
None

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [ ]:
# code here
df1 = pd.read_csv("D:\\PROJECT_PRACTISE_DIRS\\DSML_PRACTISE_FILES\\DATASETS\\train.csv")
df2 = pd.read_csv("D:\\PROJECT_PRACTISE_DIRS\\DSML_PRACTISE_FILES\\DATASETS\\test.csv")
print(df1['Age'].shape)
df1.dropna(subset=["Age"],inplace=True)
print(df1['Age'].shape)
print(df2['Age'].shape)
print(df2['Age'].hasnans)
df2['Age'].fillna(20,inplace=True)
print(df2['Age'].hasnans)

(891,)
(714,)
(418,)
True
False

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [3]:
# code here
import pandas as pd

df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv")

df.replace("Kings XI Punjab","Punjab Kings",inplace=True)
df.replace("Delhi Daredevils","Delhi Capitals",inplace=True)
df.replace("Rising Pune Supergiants","Rising Pune Supergiant",inplace=True)

df.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [ ]:
team1 = df['Team1']
team2 = df['Team2']
teams={}
total_teams  =  pd.concat([team1,team2],axis=0).unique()
for team in total_teams:
    teams[team]={}
    teams[team].update({'Total_Matches':df[df['Team1']==team].shape[0] +   df[df['Team2']==team].shape[0]})
    teams[team].update({'Won':df[(df['Team1']==team) & (df['WinningTeam']==team)].shape[0]})
    teams[team].update({'Lost': teams[team]['Total_Matches']-teams[team]['Won']})
    teams[team].update({'Win_Percent':teams[team]['Won']/teams[team]['Total_Matches']})
    teams[team].update({'Home_Win_Percent': df[(df['Team1']==team) & (df['WinningTeam']==team)].shape[0]/teams[team]['Total_Matches']})
    teams[team].update({'Away_Win_Percent':df[(df['Team2']==team) & (df['WinningTeam']==team)].shape[0]/teams[team]['Total_Matches']})
        

df_teams = pd.DataFrame(teams)
#print(df_teams.index)
#print(df_teams.columns)

#df_teams.sort_index()

df_teams = pd.DataFrame(teams.values(),index=teams.keys())

df_teams.sort_values(by='Win_Percent',ascending=False)

,Total_Matches,Won,Lost,Win_Percent,Home_Win_Percent,Away_Win_Percent
Lucknow Super Giants,15,7,8,0.466667,0.466667,0.133333
Chennai Super Kings,208,65,143,0.312500,0.312500,0.269231
Mumbai Indians,231,65,166,0.281385,0.281385,0.285714
Royal Challengers Bangalore,226,61,165,0.269912,0.269912,0.212389
Rajasthan Royals,192,49,143,0.255208,0.255208,0.244792
Kolkata Knight Riders,223,56,167,0.251121,0.251121,0.260090
Gujarat Titans,16,4,12,0.250000,0.250000,0.500000
Sunrisers Hyderabad,152,36,116,0.236842,0.236842,0.256579
Delhi Capitals,224,53,171,0.236607,0.236607,0.223214
Rising Pune Supergiant,30,7,23,0.233333,0.233333,0.266667
Punjab Kings,218,50,168,0.229358,0.229358,0.233945
Kochi Tuskers Kerala,14,3,11,0.214286,0.214286,0.214286
Deccan Chargers,75,13,62,0.173333,0.173333,0.213333
Gujarat Lions,30,5,25,0.166667,0.166667,0.266667
Pune Warriors,46,6,40,0.130435,0.130435,0.130435

###`Q-7:` Venues with most "no result" matches.

In [ ]:
# code here
df[df['WinningTeam'].isnull()]['Venue'].value_counts()

Venue
M Chinnaswamy Stadium    2
M.Chinnaswamy Stadium    1
Feroz Shah Kotla         1
Name: count, dtype: int64

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [ ]:
# code here
df1 = df[df['MatchNumber']=='Final']
Team1Players = []
Team2Players = []
def change_format(value):
    res=[]
    value = value[1:-1]
    value=value.strip()
    value=value.split(",")
    for i in value:
        i=i.replace("'","")
        res.append(i.strip())
    return res
Team1Players.extend(df1['Team1Players'].apply(change_format))
Team1Players = np.ravel(Team1Players)
Team2Players.extend(df1['Team2Players'].apply(change_format))
Team2Players = np.ravel(Team2Players)
final_list = np.concatenate((Team1Players,Team2Players))
final_list_series = pd.Series(final_list)
print(final_list_series.value_counts().sort_values(ascending=False))

MS Dhoni        10
SK Raina         8
AT Rayudu        7
R Ashwin         7
DJ Bravo         7
                ..
AM Nayar         1
SA Asnodkar      1
SR Tendulkar     1
DL Vettori       1
MM Patel         1
Name: count, Length: 179, dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [41]:
# code hdere
df.head(1)
def top_two(season):
    
    
    df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv")

    df.replace("Kings XI Punjab","Punjab Kings",inplace=True)
    df.replace("Delhi Daredevils","Delhi Capitals",inplace=True)
    df.replace("Rising Pune Supergiants","Rising Pune Supergiant",inplace=True)
    
    data={}
    df1=df[df['Season']==season]
    totalteams = list(df1['Team1'].value_counts().index)
    teams2 = list(df1['Team2'].value_counts().index)    
    totalteams.extend(teams2)    
    totalteams = list(set(totalteams))
    data['TeamName'] = totalteams
    MatchesPlayed=[]
    MatchesWon=[]
    MatchesLost=[]
    NoResult=[]
    Points=[]
    for team in totalteams:
        team_data = df1[(df1['Team1']==team) | (df1['Team2']==team)]
        MatchesPlayed.append(team_data.shape[0])
        won=team_data[team_data['WinningTeam']==team].shape[0]
        MatchesWon.append(won)
        MatchesLost.append(team_data.shape[0]-won)
        no_result = team_data[team_data['WinningTeam'].isnull()].shape[0]
        NoResult.append(no_result)        
        Points.append(won*2+no_result)    
    data['MatchesPlayed']=MatchesPlayed
    data['MatchesWon']=MatchesWon
    data['MatchesLost']=MatchesLost
    data['NoResult']=NoResult
    data['Points']=Points
    
    
    return data

data = top_two('2019')
res = pd.DataFrame(data).sort_values('Points',ascending=False)
res.set_index("TeamName").head(2)

                MatchesPlayed  MatchesWon  MatchesLost  NoResult  Points
TeamName
Mumbai Indians             16          11            5         0      22
Delhi Capitals             16          10            6         0      20

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [77]:
# code here

data = res.copy()
data.reset_index(inplace=True)
data.sort_values(by=['Points','MatchesPlayed', ], ascending=[False, False],inplace=True)
data['Rank'] = data['Points'].rank(method='first',ascending=False).astype(int)
data = data.drop(columns=['index'])
data['SeasonPostion']=data['Rank'].apply(lambda x: "Winner" if x==1 else ("Runner" if x==2 else x))
data.set_index('TeamName',inplace=True)
data.head()

,MatchesPlayed,MatchesWon,MatchesLost,NoResult,Points,Rank,SeasonPostion
TeamName,,,,,,,
Mumbai Indians,16,11,5,0,22,1,Winner
Chennai Super Kings,17,10,7,0,20,2,Runner
Delhi Capitals,16,10,6,0,20,3,3
Sunrisers Hyderabad,15,6,9,0,12,4,4
Kolkata Knight Riders,14,6,8,0,12,5,5